<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="chat"/>

    <bean id="commandJsonPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value=".\data\commands.json"/>
    </bean>
    <bean id="directsJsonPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value=".\data\directs.json"/>
    </bean>
    <bean id="ranksJsonPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value=".\data\ranks.json"/>
    </bean>
    <bean id="smilesJsonPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value=".\data\smiles.json"/>
    </bean>
    <bean id="usersJsonPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value=".\data\users.json"/>
    </bean>
    <bean id="commandRepository" class="chat.model.repository.JSONCommandRepository">
        <constructor-arg ref="commandJsonPath"/>
        <constructor-arg ref="paths"/>
    </bean>
    <bean id="directRepository" class="chat.model.repository.JSONDirectRepository">
        <constructor-arg ref="directsJsonPath"/>
        <constructor-arg ref="paths"/>
    </bean>
    <bean id="rankRepository" class="chat.model.repository.JSONRankRepository">
        <constructor-arg ref="ranksJsonPath"/>
        <constructor-arg ref="paths"/>
    </bean>
    <bean id="smileRepository" class="chat.model.repository.JSONSmileRepository">
        <constructor-arg ref="smilesJsonPath"/>
        <constructor-arg ref="paths"/>
    </bean>
    <bean id="userRepository" class="chat.model.repository.JSONUserRepository">
        <constructor-arg ref="usersJsonPath"/>
        <constructor-arg ref="paths"/>
    </bean>

    <bean id="twitchProperties" class="chat.util.AppProperty">
        <constructor-arg value=".\settings\twitch.properties"/>
    </bean>
    <bean id="settingsProperties" class="chat.util.AppProperty">
        <constructor-arg value=".\settings\settings.properties"/>
    </bean>
    <bean id="paths" class="chat.util.Paths">
        <constructor-arg name="logo" value="/img/logo.png"/>
        <constructor-arg name="settingsProperties" ref="settingsProperties"/>
        <constructor-arg name="chatCss" value="/chat.css"/>
        <constructor-arg name="confirmCss" value="/confirm.css"/>
        <constructor-arg name="dataCss" value="/data.css"/>
        <constructor-arg name="settingsCss" value="/settings.css"/>
        <constructor-arg name="enabledPin" value="/img/pin-enabled.png"/>
        <constructor-arg name="disabledPin" value="/img/pin-disabled.png"/>
        <constructor-arg name="twitchProperties" value="/settings/twitch.properties"/>
        <constructor-arg name="soundDirectory" value="./sound/"/>
        <constructor-arg name="commandsJson" ref="commandJsonPath"/>
        <constructor-arg name="directsJson" ref="directsJsonPath"/>
        <constructor-arg name="ranksJson" ref="ranksJsonPath"/>
        <constructor-arg name="smilesJson" ref="smilesJsonPath"/>
        <constructor-arg name="usersJson" ref="usersJsonPath"/>
    </bean>
</beans>