<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="chat"/>

    <bean id="commandRepository" class="chat.model.repository.JSONCommandRepository">
        <constructor-arg value=".\data\commands.json"/>
    </bean>
    <bean id="directRepository" class="chat.model.repository.JSONDirectRepository">
        <constructor-arg value=".\data\directs.json"/>
    </bean>
    <bean id="rankRepository" class="chat.model.repository.JSONRankRepository">
        <constructor-arg value=".\data\ranks.json"/>
    </bean>
    <bean id="smileRepository" class="chat.model.repository.JSONSmileRepository">
        <constructor-arg value=".\data\smiles.json"/>
    </bean>
    <bean id="userRepository" class="chat.model.repository.JSONUserRepository">
        <constructor-arg value=".\data\users.json"/>
    </bean>
    <bean id="gameRepository" class="chat.model.repository.JSONGameRepository">
        <constructor-arg value=".\data\games.json"/>
    </bean>
    <bean id="twitchProperties" class="chat.util.AppProperty">
        <constructor-arg value=".\settings\twitch.properties"/>
    </bean>
    <bean id="settingsProperties" class="chat.util.AppProperty">
        <constructor-arg value=".\settings\settings.properties"/>
    </bean>
    <bean id="applicationStyle" class="chat.controller.ApplicationStyle">
        <constructor-arg ref="settingsProperties"/>
    </bean>
    <bean id="styleUtil" class="chat.util.StyleUtil">
        <constructor-arg ref="applicationStyle"/>
    </bean>
    <bean id="paths" class="chat.util.Paths">
        <constructor-arg name="logo" value="/img/logo.png"/>
        <constructor-arg name="settingsProperties" ref="settingsProperties"/>
        <constructor-arg name="chatCss" value="/chat.css"/>
        <constructor-arg name="confirmCss" value="/confirm.css"/>
        <constructor-arg name="dataCss" value="/data.css"/>
        <constructor-arg name="settingsCss" value="/settings.css"/>
        <constructor-arg name="enabledPin" value="/img/pin-enabled.png"/>
        <constructor-arg name="disabledPin" value="/img/pin-disabled.png"/>
        <constructor-arg name="twitchProperties" value="/settings/twitch.properties"/>
        <constructor-arg name="soundDirectory" value="./sound/"/>
    </bean>
</beans>