<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="file" fileName="./logs/plus-chat.log"
                     filePattern="./logs/%d{yyyy-MM-dd-hh-mm}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="chat" level="debug" additivity="false">
            <appender-ref ref="file" level="debug"/>
            <appender-ref ref="console"/>
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>