.label {
    -fx-font-size: 17px;
}

#question {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 60;
    -fx-pref-width: 44;
    -fx-background-image: url("../../img/question.png");
    -fx-background-repeat: no-repeat;
}

#confirm {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-background-image: url("../../img/confirm.png");
    -fx-background-size: 30 30;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-border-style: null;
}

#confirm:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/confirm-hover.png");
    -fx-background-repeat:no-repeat;
}

#cancel {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-background-image: url("../../img/cancel.png");
    -fx-background-size: 30 30;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-border-style: null;
}

#cancel:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/cancel-hover.png");
    -fx-background-repeat:no-repeat;
}
