.label {
    -fx-font-size: 17px;
}

#startStop {
    -fx-spacing: 20;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-pref-width: 80;
    -fx-max-width: 80;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}
