.label {
    -fx-font-size: 17px;
}

#settingsTab .tab:selected .tab-label {
    -fx-font-size: 19px;
}

#settingsTab .tab-label {
    -fx-font-size: 17px;
    -fx-text-fill: #819FF7;
}

#confirm {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url("../../img/confirm.png");
    -fx-background-size: 40 40;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#usersData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/users.png");
    -fx-background-repeat: no-repeat;
}

#usersData:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/data/users-hover.png");
    -fx-background-repeat:no-repeat;
}

#smilesData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/smiles.png");
    -fx-background-repeat: no-repeat;
}

#smilesData:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/data/smiles-hover.png");
    -fx-background-repeat:no-repeat;
}

#commandsData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/commands.png");
    -fx-background-repeat: no-repeat;
}

#commandsData:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/data/commands-hover.png");
    -fx-background-repeat:no-repeat;
}

#ranksData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/ranks.png");
    -fx-background-repeat: no-repeat;
}

#ranksData:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/data/ranks-hover.png");
    -fx-background-repeat:no-repeat;
}

#directsData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/directs.png");
    -fx-background-repeat: no-repeat;
}

#directsData:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/data/directs-hover.png");
    -fx-background-repeat:no-repeat;
}

#confirm:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#cancel {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url("../../img/cancel.png");
    -fx-background-repeat: no-repeat;
}

#cancel:hover {
    -fx-background-color: null;
    -fx-background-image:url("../../img/cancel-hover.png");
    -fx-background-repeat:no-repeat;
}
