.label {
    -fx-font-size: 17px;
}

#settingsTab .tab:selected .tab-label {
    -fx-font-size: 19px;
}

#settingsTab .tab-label {
    -fx-font-size: 17px;
    -fx-text-fill: #819FF7;
}

#reload {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url("../../img/settings/reload.png");
    -fx-background-repeat: no-repeat;
}

#reload:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/settings/reload-hover.png");
    -fx-background-repeat: no-repeat;
}

#confirm {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 50;
    -fx-pref-width: 59;
    -fx-background-image: url("../../img/settings/confirm.png");
    -fx-background-repeat: no-repeat;
}

#confirm:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/settings/confirm-hover.png");
    -fx-background-repeat: no-repeat;
}

#cancel {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url("../../img/settings/cancel.png");
    -fx-background-repeat: no-repeat;
}

#cancel:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/settings/cancel-hover.png");
    -fx-background-repeat: no-repeat;
}

#usersData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/users.png");
    -fx-background-repeat: no-repeat;
}

#usersData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/users-hover.png");
    -fx-background-repeat: no-repeat;
}

#smilesData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/smiles.png");
    -fx-background-repeat: no-repeat;
}

#smilesData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/smiles-hover.png");
    -fx-background-repeat: no-repeat;
}

#commandsData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/commands.png");
    -fx-background-repeat: no-repeat;
}

#commandsData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/commands-hover.png");
    -fx-background-repeat: no-repeat;
}

#ranksData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/ranks.png");
    -fx-background-repeat: no-repeat;
}

#ranksData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/ranks-hover.png");
    -fx-background-repeat: no-repeat;
}

#directsData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/directs.png");
    -fx-background-repeat: no-repeat;
}

#directsData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/directs-hover.png");
    -fx-background-repeat: no-repeat;
}

#ordersData {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 45;
    -fx-pref-width: 60;
    -fx-background-image: url("../../img/data/orders.png");
    -fx-background-repeat: no-repeat;
}

#ordersData:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/data/orders-hover.png");
    -fx-background-repeat: no-repeat;
}

#randomizer {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url("../../img/settings/randomizer.png");
    -fx-background-repeat: no-repeat;
}

#randomizer:hover {
    -fx-background-color: null;
    -fx-background-image: url("../../img/settings/randomizer-hover.png");
    -fx-background-repeat: no-repeat;
}
